node_modules
bower_components
*.sublime-project
*.sublime-workspace
dist/
client/.sass-cache/*
client/.tmp/styles/main.css
documentation-output
config.*.js
config.*.json
.migrate
app.config.js
*.swp
*.log
*.xml
app.config.js
*.DS_Store
bin/config.*
.meteor/local
.meteor/meteorite
.meteor/versions
dashboard/build/dashboard.tar.gz
