<template name="listItems">
  <div class="ui container">
    <h3>List Items</h3>
    <div class="ui divided items">
      {{#each items}}
        {{> singleItem}}
      {{/each}}
    </div>
  </div>
</template>

<template name="singleItem">
  <div class="item">
    <div class="image">
      <img src="{{image}}">
    </div>
    <div class="content">
      <a class="header" href="/item/{{_id}}">{{name}}</a>
      <div class="meta">
        <span class="price">{{price}}€</span>
      </div>
      <div class="description">
        <p>{{meta_description}}</p>
      </div>
      <div class="extra">
          {{#each variants}}
            {{#if option_values.[0].name}}
              <div class="ui label"><i class="globe icon"></i> {{option_values.[0].name}}</div>
            {{/if}}
          {{/each}}
      </div>
    </div>
  </div>
</template>
